body {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.btn-general {
  width: 42%;
  box-sizing: content-box;
  padding: 2px;
  border: var(--button-general-border);
  border-radius: var(--button-general-border-radius);
  background: rgba(128, 20, 123, 0.54);
  box-shadow: var(--button-general-box-shadow);
  padding: 0 7px 0 7px;
}
